#homeimg {
    height: 350px;
    padding: 10px 10px 10px 10px;
}
ul section {
    text-align: left;
}
ul {
    text-align: right;
}
.bluelink {
    margin-inline: 8px;
    font-size: larger;
    color: aliceblue;
}
nav ul li {
    display:inline-block;
}
header {
    background-color: black;
    padding: 5%;
    height: 400px;  
}
body{
    text-align: center;
}
body {
    background: radial-gradient(white,rgb(255, 169, 9)) ;
}
.doculink {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-bottom: 70px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
h4 {
    margin-top:100px;
    font-size: 40px;
}
h5 {
    font-size: 25px;
}
.box {
    color: white;
    background-color: #000000;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.active {
    color: black;
    background-color: #ffdd78;
    border-radius: 3px 3px 3px 3px;
}
.nounderline {
    text-decoration: none;
    padding: 10px 10px 10px 10px;

}
footer img {
    height: 100px;
}
#homeimg3 {
    margin-top: 20px;
    margin-bottom: 50px;
    height: 200px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}
.imginst {
    height: 30px;
}
.normal-text{
    color: white;
}
footer {
    padding: 5px;
    background-color: black;
    height: 150px;
}
footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: aliceblue;
}
footer ul{
    text-align: center;
}