#homeimg {
    height: 350px;
    padding: 10px 10px 10px 10px;
}
ul section {
    text-align: left;
}
ul {
    text-align: right;
}
.bluelink {
    margin-inline: 8px;
    font-size: larger;
    color: aliceblue;
}
nav ul li {
    display:inline-block;
}
header {
    background-color: black;
    padding: 5%;
    height: 400px;  
}
body{
    text-align: center;
}
body {
    background:linear-gradient( white, rgb(255, 169, 9));
    }
section {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 5px;
}
section p{
    font-size: 25px;
}
h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.box {
    color: white;
    background-color: black;
    border: 1px solid #333;
    padding: 5%;
    border-radius: 20px 20px 20px 20px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
}
.box h2 {
    line-height: 30px;
}
#homeimg1 {
    height: 250px;
    padding: 0px, 10px, 20px, 10px;
    margin: auto;
}
.active {
    color: black;
    background-color: #ffdd78;
    border-radius: 3px 3px 3px 3px;
}
.nounderline {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}
footer img {
    height: 100px;
}
.sezione {
    height: auto;
    padding: 10px;
}
.sezione p {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 100px; 
    padding-right: 50px;
    padding-bottom: 0%;
    line-height: 40px;
}
#homeimg3 {
    height: 350px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
form {
    width: 100%;
  }
  
label {
    display:block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
input {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
button {
    background-color: #d86c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #d86c00;
  }
.imginst {
    height: 30px;
}
.normal-text1 {
    color: black;
    font-size: 20px;
}
.normal-text{
    color: white;
}
footer {
    padding: 5px;
    margin-top: 70px;
    background-color: black;
    height: 150px;
}
footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: aliceblue;
}
footer ul{
    text-align: center;
}